/* https://cloudninja.pw/docs/wofi.html */
window {
  border: 2px solid black;
  background-color: rgba(0, 57, 77, 0.9);
}

#input {
  color: rgba(0, 153, 204, 1);
  border: 2px solid black;
  background-color: rgba(0, 57, 77, 0.3);
  font-size: 18px;
}

#text {
  color: white;
}

#outer-box {
  margin: 10px;
}

#scroll {
  margin: 5px 0px;
  font-size: 16px;
  color: #0099cc;
}

#scroll label {
  margin: 2px 0px;
}

#entry:selected {
  color: rgba(0, 153, 204, 1);
  background-color: rgba(0, 57, 77, 0.3);
}
